<div class="col-12">
  <nb-card >
    <nb-tabset fullWidth>
      <nb-tab tabTitle="قوانین ساده">
          <nb-card-header>قوانین اولیه را می توانید در این قسمت تعریف کنید.</nb-card-header>
        <ngx-simple-condition></ngx-simple-condition>
      </nb-tab>
      <nb-tab tabTitle="برنامه نویسی قوانین">
          <nb-card-header>برای تعریف قوانین پیچیده تر می توانید از محیط برنامه نویسی استفاده کنید</nb-card-header>
        <ngx-script-condition></ngx-script-condition>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
