@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    min-width: 800px;
    max-width: 1000px;
    max-height: 900px;
    overflow: scroll;
  }
}

nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

nb-select {
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
}

text-area {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  margin: 1rem 0.5rem;
}
