<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">404 با عرض پوزش</h2>
            <small class="sub-title">در حال حاضر دسترسی به هیچ برنامه ای را ندارید</small>
            <button nbButton fullWidth (click)="logout()" type="button" class="home-button">
              بازگشت 
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  