<div class="row">
  <div
    id="form"
    class="col-lg-9 form scrollable"
    cdkDropList
    (cdkDropListDropped)="dropOnForm($event)"
  >
    <nb-card id="formDesigner" style="height: 100%">
      <nb-card-header>{{ formName }}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form">
          <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
          ></formly-form>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <nb-card class="col-lg-3 pallet example-list ">
    <nb-tabset #tabset>
      <nb-tab #pallet tabTitle="مدل داده" class="col-lg-12">
        <div
          id="pallet"
          cdkDropListConnectedTo="form"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="data"
          style="overflow-y: scroll"
          class="scrollable"
        >
          <table [nbTreeGrid]="paletDataSource">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr
              nbTreeGridRow
              *nbTreeGridRowDef="let row; columns: allColumns"
            ></tr>
            <ng-container [nbTreeGridColumnDef]="column">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                <div *ngIf="row.data.kind == 'model'; else attr">
                  <nb-icon icon="chevron-down"></nb-icon>
                  {{ row.data[column] }}
                </div>
                <ng-template #attr>
                  <ngx-drag [title]="row.data[column]" [data]="row.data">
                  </ngx-drag>
                </ng-template>
              </td>
            </ng-container>
          </table>
        </div>
      </nb-tab>
      <nb-tab #setting tabTitle="تنظیمات">
        <form
          *ngIf="settingFeild"
          class="setting-container"
          [formGroup]="settingForm"
        >
          <nb-checkbox formControlName="disabled">قابل ویرایش</nb-checkbox>
          <nb-checkbox formControlName="required">اجباری</nb-checkbox>
          <nb-checkbox formControlName="visible">قابل رویت</nb-checkbox>
        </form>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>

<button nbButton status="success" hero [disabled]="fields.length == 0" (click)="submit()">
  ذخیره
</button>
<button nbButton status="danger" hero (click)="goBack()">بازگشت</button>
