<!-- <div class="col-sm-6">
  <div class="form-group"> -->
    <input
      nbInput
      fullWidth
      [type]="to.type"
      [placeholder]="to.placeholder"
      [status]="to.status"
      [shape]="to.shape"
      [fieldSize]="to.fieldSize"
      [disabled]="to.disabled"
      [formControl]="formControl"
      [formlyAttributes]="field"
      [required]="to.required"
      [formControl]="formControl"
      [formlyAttributes]="field"
      class="input input-full-width size-medium status-basic shape-rectangle nb-transition"
      (change)="to.onChange"
    />
  <!-- </div>
</div> -->
