<div class="row">
    <div class="col-lg-6">
      <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="info">
        <nb-card-header>آمار وضعیت کلیه فرایند ها</nb-card-header>
        <nb-card-body>
          <ngx-chartjs-pie></ngx-chartjs-pie>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="info">
        <nb-card-header>آمار به تفکیک فرایند </nb-card-header>
        <nb-card-body>
          <ngx-chartjs-bar></ngx-chartjs-bar>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  